.header
  .header__right
    .header__right__groupname
      = @name
      .header__right__groupname__members
        member :
        - @group.group_users.each do |group_user|
          = group_user.user.name
    .header__right__edit
      = link_to edit_group_path(@group) do
        Edit
  = render partial: "groups/header", locals: { current_user: current_user }

.contents
  = render partial: "groups/group-info", locals: { group: @group }

  .contents__right
    .contents__right__messages{data: {id: "#{@group.id}"}}
      - @messages.each do |message|
        .contents__right__messages__message{data: {id: "#{message.id}"}}
        
          .contents__right__messages__message__info
            .contents__right__messages__message__info__name
              = message.user.name
            .contents__right__messages__message__info__date
              = message.created_at.strftime("%Y/%m/%d %H:%M")
          .contents__right__messages__message__text
            =message.text
            %br
            = image_tag message.image.url, class: 'lower-message__image' if message.image.present?

            


    .contents__right__footer
      .contents__right__footer__message
        = form_for [@group, @message]  do |f|
          .contents__right__footer__message__text
            = f.text_field :text, placeholder: 'type a message'
            %label.label
              = fa_icon 'image'
              = f.file_field :image
          .contents__right__footer__message__sendbtn
            = f.submit  "Send"