.header
  .header__right
    .header__right__groupname
      = @name
      .header__right__groupname__members
        member : @user
    .header__right__edit
      Edit
  .header__left
    .header__left__username
      = current_user.name
    .header__left__icons
      =link_to new_group_path, class: "icon" do
        = fa_icon 'edit'
      =link_to edit_user_path(current_user), class: "icon" do
        = fa_icon 'cog'

.contents
  .contents__left
    .contents__left__group
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          = group.name
          .contents__left__group__message
            まだメッセージはありません

  .contents__right
    .contents__right__messages
      .contents__right__messages__message
        .contents__right__messages__message__info
          .contents__right__messages__message__info__name
            test-user
          .contents__right__messages__message__info__date
            yyy/mm/dd (Mon) xx:xx:xx
        .contents__right__messages__message__text
          こんにちは？


    .contents__right__footer
      .contents__right__footer__message
        = form_for [@group, @message] do |f|
          .contents__right__footer__message__text
            = f.text_field :text, placeholder: 'type a message'
            %label.label
              = fa_icon 'image'
              = f.file_field :image
              
            

          .contents__right__footer__message__sendbtn
            = f.submit  "Send"
